body {
    margin: 0;
    padding: 0;
}

.container-telefoon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup-instructie {
    height: 60%;
    width: 90%;
    background-color: #004682;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.instructie-tekst {
    color: white;
    font-size: 32px;
    font-family: 'montserrat';
    font-weight: bold;
}

.instructie-tekst2 {
    color: white;
    font-size: 15px;
    font-family: 'montserrat';
    font-weight: normal;
    width: 280px;
    text-align: center;
}

.img-container {
    margin-top: 10px;
}

.popup-img {
    width: 186px;
}

p {
    margin: 0;
}

.instructie-tekst3 {
    color: white;
    font-size: 15px;
    font-family: 'montserrat';
    font-weight: bold;
    width: 291px;
    margin-top: 15px;
    text-align: center;
}

.indicator-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.indicator-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.25;
    margin: 0 5px;
    cursor: pointer;
}

.active {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.8;
}

.map-image {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/map-background.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}