*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 390px;
    height: 844px;
    overflow: hidden;

}
h2{
    color: #004682;
    font-size: 32px;
    font-family: 'montserrat';
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}
.containerbewijsstukken{
    border: 3px solid #0045826a ;
    width: 370px;
    height: 184px;
    background-color: white;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 10px;
}
.containerbewijsstukken h3{
    color: #004682;
    font-size: 24px;
    font-family: 'poppins';
}
.herstartknop{
    background-color: #004682;
    color: #ffffff;
    width: 338px;
    height: 50px;
    border: none;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px rgba(38,89, 153, 0.83);
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;    
}
.homebutton{
    font-family: 'poppins';
    font-size: 24px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.containerbewijsstukken p{
    font-family: 'poppins';
    font-size: 16px;
    color: #004682;
}