* {
    margin: 0;
    padding: 0;
}

.splash {
    background-color: #004682;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.splash-logo {
    height: 16%;
}